.header_container{
    height: 20vh;
    background-repeat:no-repeat;
    background-size:cover;
}

.header_title{
    font-size: 4rem;
    margin-left: 100px;
    padding-top: 50px;
    color: var(--black);
}