.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 80;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

.nav_link {
  text-decoration: none;
  color: var(--blue);
}

.nav_link:hover {
  color: var(--softblue);
}

.nav_link_active {
  color: var(--lightblue);
}

.nav_link_icon {
  margin-right: 10px;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_collapse {
  display: none;
  background: var(--white);
}

@media screen and (max-width: 62rem) {
  .nav_collapse {
    padding: 0.5em 1em;
    display: inline-block;
    font-size: 1.25rem;
    color: var(--black);
    cursor: pointer;
    outline: none;
    border: none;
  }
  .nav {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    z-index: 80;
    position: absolute;
  }
  .nav_link {
    margin: 0.625em;
  }

  .navbar {
    height: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    width: fit-content;
    background: var(--white);
  }
  .show-nav {
    height: auto;
    background: var(--white);
    position: fixed;
    top: 4.5%;
  }
  .nav_hidden {
    display: none;
  }

  .nav_collapse .icon {
    width: 2rem;
    height: 2rem;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul li {
    margin: 5px 0;
  }
}
